@media (max-width: 1200px) {
    header {
        justify-content: space-between;
    }

    .logo {
        font-size: 12px;
    }

    .titulo-post {
        font-size: 1.5em;
        margin-bottom: 5px;
    }

}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .menu-hamburguer {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .menu.active {
        display: flex;
    }

    .post-content {
        flex-direction: column;
        align-items: center;
    }

    .post-content img {
        width: 60%;
    }

    .text-content {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .post-content img {
        width: 70%;
    }

    .text-content h2{
        font-size: 18px;
    }

    .text-content p{
        font-size: 14px;
    }
}

@media (max-width: 500px) {

    .post-content img {
        width: 75%;
    }

    .text-content h2{
        font-size: 16px;
    }

    .text-content p{
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    header img {
        width: 50px;
    }

    .logo {
        font-size: 10px;
        padding: 6px 10px;
    }

}

@media (max-width: 215px) {
    header img {
        width: 30px;
    }

    .logo {
        font-size: 4px;
    }

}