@media (max-width: 1200px) {
  header {
    justify-content: space-between;
  }

  .logo {
    font-size: 12px;
  }

  .titulo-post {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .encarte h2 {
    font-size: 1.1em;
  }

  .coluna1 .Postagens h2 {
    font-size: 1.3em;
  }

  .coluna2 section h2,
.coluna2-post section h2{
  font-size: 1.1em;
}

h4 {
  width: 80%;
}


}

@media (max-width: 768px) {
  main{
    flex-direction: column;
  }
  .menu-hamburguer {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .menu.active {
    display: flex;
  }

  .imagem-post {
    max-width: 450px;
  }

  .encarte h2 {
    font-size: 0.9em;
  }

  .coluna1 .Postagens h2 {
    font-size: 0.9em;
  }

  h4 {
    width: 85%;
  }

}

@media (max-width: 600px) {
  .coluna1-post {
    margin: 5px;
    padding: 3px;
  }

  .titulo-post {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  .coluna2-post {
    padding: 2px;
    margin: 3px;
  }

  .coluna2 section,
  .coluna2-post section {
    margin: 5px 0px;
  }

  .imagem-post {
    max-width: 350px;
  }

  .coluna1 .Postagens img {
    max-width: 80%;
  }

  .encarte h2 {
    font-size: 1.2em;
  }

  .coluna1 .Postagens h2 {
    font-size: 1.2em;
  }

  .coluna2 section h2,
.coluna2-post section h2{
  font-size: 1.2em;
}

li.Selvagem {
  width: 100px;
  font-size: 12px;
}

h4 {
  width: 75%;
}
}

@media (max-width: 500px) {
  .encarte {
    flex: 1 1 100%;
  }

  .imagem-post {
    max-width: 250px;
  }
}

@media (max-width: 350px) {
  header img {
    width: 50px;
  }

  .logo {
    font-size: 10px;
    padding: 6px 10px;
  }

  .coluna1-post {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .imagem-post {
    max-width: 200px;
  }

  .conteudo-post {
    font-size: 0.9em;
    line-height: 1.4;
    margin-bottom: 5px;
  }
  
}

@media (max-width: 215px) {
  header img {
    width: 30px;
  }

  .logo {
    font-size: 4px;
  }

  .titulo-post {
    font-size: 0.9em;
    margin-bottom: 5px;
  }

  .imagem-post {
    max-width: 115px;
  }

  .conteudo-post {
    font-size: 0.7em;
    line-height: 1.3;
    margin-bottom: 2px;
  }

}