@media (max-width: 768px) {
  .menu-hamburguer {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .menu.active {
    display: flex;
  }
}

@media (max-width: 800px) {
  .encarte {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 500px) {
  .encarte {
    flex: 1 1 100%;
  }
}

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
}