/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

/* Additional resets as needed */